/* * PALETA SEMÂNTICA - GERADA PELO NIX 
 * Mapeamento: Nord -> Semântico
 */

@define-color bg0 #2e3440; /* Fundo Principal */
@define-color bg1 #3b4252; /* Fundo Secundário */
@define-color bg2 #434c5e; /* Seleção */
@define-color bg3 #4c566a; /* Muted / Inativo */

@define-color fg0 #d8dee9; /* Texto Padrão */
@define-color fg1 #e5e9f0; /* Texto Claro */
@define-color fg2 #eceff4; /* Texto Destaque */

@define-color accent0 #8fbcbb; 
@define-color accent1 #88c0d0; /* COR PRINCIPAL (Ciano/Madeira/Ouro) */
@define-color accent2 #81a1c1;
@define-color accent3 #5e81ac;

@define-color red    #bf616a;
@define-color orange #d08770;
@define-color yellow #ebcb8b;
@define-color green  #a3be8c;
@define-color purple #b48ead;