/* * NORD PALETTE OFFICIAL 
 */

/* Polar Night (Escuros) */
@define-color nord0  #2e3440;
@define-color nord1  #3b4252;
@define-color nord2  #434c5e;
@define-color nord3  #4c566a;

/* Snow Storm (Claros) */
@define-color nord4  #d8dee9;
@define-color nord5  #e5e9f0;
@define-color nord6  #eceff4;

/* Frost (Acentos Frios) */
@define-color nord7  #8fbcbb; /* Teal */
@define-color nord8  #88c0d0; /* Ciano Gelo (Foco) */
@define-color nord9  #81a1c1; /* Azul Claro */
@define-color nord10 #5e81ac; /* Azul Oceano */

/* Aurora (Status) */
@define-color nord11 #bf616a; /* Vermelho */
@define-color nord12 #d08770; /* Laranja */
@define-color nord13 #ebcb8b; /* Amarelo */
@define-color nord14 #a3be8c; /* Verde */
@define-color nord15 #b48ead; /* Roxo Suave */